.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem;
  min-height: 100vh;
  background-color:#161F25;
  position: relative;
}

.content {
  height: 100%;
  width: calc(100% - 3rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* margin-left: 3rem; */
  margin-top: 1rem;
  padding-bottom: 4rem;
  
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items:end;
  animation: fadeIn 0.5s ease-in-out forwards;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.mainInfo {
  background-color: #131B20 ;
  border-radius: 16px;
  width: 100%;
  padding: 1rem 1rem;
  padding-bottom: 2rem;
}

.loadingBox {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster {
  border-radius: 16px;
  width: 240px;
  align-self: center;
  object-fit: cover;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #F4F4F6;
  margin-top: 1rem;
  text-align: left;
  white-space: nowrap; /* Impede que o texto quebre para uma nova linha */
  overflow: hidden; /* Oculta o texto que estiver fora do contêiner */
  text-overflow: ellipsis; 
  width: 100%;
  font-family: 'Nunito';
  margin-top: 1rem;

}

.subtitle {
  white-space: nowrap; /* Impede que o texto quebre para uma nova linha */
  overflow: hidden; /* Oculta o texto que estiver fora do contêiner */
  text-overflow: ellipsis; 
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #F4F4F6;
  opacity: 0.6;
  width: 100%;
  font-family: 'Nunito';
}

.description {
  width: 95%;
  font-size: 14px;
  font-weight: 500;
  color: #F4F4F6;
  margin-top: 0.5rem;
  text-align:justify;
  font-family: 'Nunito';
}

.info {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #F4F4F6;
  margin-top: 0.5rem;
  text-align:justify;
  font-family: 'Nunito';
  margin-bottom: 0.5rem;
}

@keyframes fadeIn {
  from {
    /* opacity: 0;  */
    transform: translateY(-10px); 
  }
  to {
    /* opacity: 1;  */
    transform: translateY(0); 
  }
}


