.header {
  width: 100%;
  height: auto;
  background-color: #131B20;
  border-bottom: 1px solid #EE296B;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header h2 {
  font-family: 'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #F4F4F6;
}


