.header {
  width: 100%;
  height: auto;
  background-color: #131B20;
  border-bottom: 1px solid #EE296B;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.header h2 {
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: 600;
  color: #F4F4F6;
  animation: slideIn 0.5s ease forwards;
  @media screen and (max-width: 768px) {
    display: none;
    width: 0;
   }
   
}

.dot {
  color: #EE296B;
  font-weight: 700;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


